table {
   
border: 2px solid black;
margin: 0px auto;
margin-top: 25px;
border-radius: 17px;
}



td {
border-radius: 7px;
padding-top: 7px;
padding-left: 7px;
padding-bottom: 45px;
padding-right: 50px;
width: 10%;
}

th {
border-top: 0px;
border-right: 0px;
border-left: 0px;
background-color: #4169E1;
padding: 25px 15px;
border-radius: 20px;
width: 10%;
}

.day {
background-color: #F5F5F5;
width: 10%;
}

.lesson1 {
background-color: #8B0000;
font-weight: bold;
width: 10%;
}

.lesson2 {
background-color: #FF8C00;
font-weight: bold;
width: 10%;
}

.month { 
background-color: #E0FFFF;
width: 10%;
}

.lesson1_month {
background-color: #DC143C;
font-weight: bold;
width: 10%;
}

.lesson2_month {
background-color: #FFD700;
font-weight: bold;
width: 10%;
}

.lesson2 .day .day {
border-radius: 20px;
width: 10%;
}

.lesson2 .month {
border-radius: 20px;
width: 10%;
}

caption {
padding-bottom: 15px;
color: #228B22;
}
