body {
    
width: 350px;
    
margin: 0;
    
padding: 0 10px;
    
font-size: 14px;
    
font-family: Arial, sans-serif;

}

table {
    
border-collapse: collapse;

}

th { 

border: 2px solid black;

padding: 10px;

border-color: #0000CD;

}


td {

border: 1px solid black;

width: 50%;

padding: 10px;

border-color: #00FF00;


}


.left-orchid {

text-align: left;

background-color: #9932CC;

color: #ADFF2F;

}


.left-sal {

text-align: center;

background-color: #FA8072;

color: #000000;

}


.center-violet {

text-align: center;

background-color: #9400D3;

color: #FF4500;

}


.left-violet {
  
background-color: #9400D3;
  
color: #FF4500;
  
text-align: center;

}


.center-tom {

text-align: center;

background-color: #FF6347;

color: #FFD700;


}


.right-purple {

text-align: right;

background-color: #800080;

color: #FFFFFF;

}


.right-cor {

text-align: center;

background-color: #FF7F50;

color: Navy;

}